@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;600&display=swap');

* {
    font-family: 'montserrat', 'sans serif';
    margin: 0;
    padding: 0;
}

nav {
    background-color: black;
    padding: 35px 0;
    color: white;
    font-size: 1.5em;
    flex-direction: row;
}

nav ul {
    display: flex;
    list-style: none;
    padding: 0 350px;
    justify-content: space-between;
}

nav a {
    color: white;
    text-decoration: none;
}

footer {
    background-color: black;
    padding: 35px 0;
    color: white;
    font-size: 1.5em;
    flex-direction: row;
}

footer ul {
    display: flex;
    list-style: none;
    padding: 0 350px;
    justify-content: space-between;
}